 [Unit]
 Description=My Robot Service
 Wants=network-online.target
 After=network.target network-online.target

 [Service]
 Type=simple
 ExecStart=/home/skyrikakis/start.sh

 [Install]
 WantedBy=multi-user.target
